<h1>Spenden</h1>
<p>
Hier k&ouml;nnen Sie spenden, um Hilfe f&uuml;r Japan zu unterst&uuml;tzen!
<table>
<tr><td>

<a href="https://www.drk.de/spenden/online/lastschrift.html?wid=ON0058">
<img style="border: none;" src="http://www.drk.de/fileadmin/Aktuelles/banner/japan/DRK_Banner_Japan_300x250.jpg" alt="Banner: DRK-Spendenaufruf für Japan" />
</a>

</td><td>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="200" height="300" id="spendino_flashMO" type="application/x-shockwave-flash" data=" http://api.spendino.de/admanager/ads/getFile/54 "> <param name="movie" value=" http://api.spendino.de/admanager/ads/getFile/54 " /> <param name="wmode" value="transparent" /> <param name="quality" value="high" /> <param name="menu" value="false" /> <param name="swfversion" value="6.0.65.0" /> <param name="allowScriptAccess" value="sameDomain" /> <embed src=" http://api.spendino.de/admanager/ads/getFile/54 " quality="high" menu="false" allowscriptaccess="sameDomain" width="200" height="300" name="spendino_flashMO" wmode="transparent" type="application/x-shockwave-flash" pluginspace=" http://get.adobe.com/flashplayer/ "></embed></object>

</td></tr>
</table>

</p>


